/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
}

.radio-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"].input:nth-of-type(even) {
  accent-color: red;
}
input[type="radio"]:disabled {
  opacity: 0.5;
}

label {
  display: flex;
  align-items: center;
  font-size: 16px;
}
